<div class="trip-overview-header">
  <div class="container">
    <div class="trip-overview-title">
      <div class="dynamic-title">
        <h1><%= (@trip.end_day - @trip.start_day).to_i %> days in <%= @trip.city.capitalize %></h1>
      </div>
      <div class="dynamic-date-subtitle">
        <h4><%= @trip.start_day.strftime('%b %d') %> - <%= @trip.end_day.strftime('%b %d, %Y') %></h4>
      </div>

      </div>
    </div>
  </div>

<div class="trip-content-wrapper">
  <div class="container">





<section class="timeline">
  <ul>
    <% @trip.venues.shuffle.each do |venue| %>
      <li>

        <div class="timeline-card">
        <span class="timeline-card-title"><h5> <%= venue.name %> </h5></span>
          <span class="timeline-card-image">
            <img src= <%= venue.img_url %> >
          </span>
          <span class="timeline-card-info">
            <span class="timeline-card-tag"> <img src='https://res.cloudinary.com/druzius/image/upload/v1544033697/price-tag.svg'> <strong><%= venue.category_tag %></strong> </span>
            <span class="timeline-card-price"> <img src='https://res.cloudinary.com/druzius/image/upload/v1544034080/dollar-symbol.svg'> <strong><%= venue.price_tier %></strong> </span>
            <span class="timeline-card-rating"> <img src='https://res.cloudinary.com/druzius/image/upload/v1544032819/star.svg'> <strong><%= venue.rating %></strong> </span>
            <span class="timeline-card-likes"> <img src='https://res.cloudinary.com/druzius/image/upload/v1544032609/like.svg'> <strong><%= venue.likes %></strong> </span>
          </span>
        </div>
      </li>
    <% end %>



    <% @trip.events.shuffle.each do |event| %>
      <li>


        <div class="timeline-card" >
        <span class="timeline-card-title"><h5> <%= event.name %> </h5></span>
          <span class="timeline-card-image">
            <img src= <%= event.img_url %> >
          </span>
          <span class="timeline-card-info">
            <span class="timeline-card-time"> Starts:<br><strong><%= event.event_start.strftime('%b %d, %H:%M') %></strong> <br><br>Ends:<br> <strong><%= event.event_end.strftime('%b %d, %H:%M') %></strong></span>

          </span>


        </div>
      </li>
    <% end %>
  </ul>
</section>



  </div>
</div>
