  <div class="banner" style="background-image:
  linear-gradient(-225deg, rgba(186,210,213,0.4) 0%, rgba(0,36,61,0.4) 50%), url(<%= image_path 'dawn-dusk.jpg' %>);">
  <div class="banner-content">
    <div class="first-title">
      <p>
      </p>
      <h2>Experience
        <span id="banner-typed-text"></span>
      </h2>
      <h4>One Trip At a Time</h4>
    </div>
    <div class="form">
      <div class="simple-form form-inline">
        <div class="form-box">
          <%= simple_form_for :search, url: new_trip_path, method: :get do |f| %>
          <%= f.input :city_query, label: false, placeholder: "Destination", input_html:{class: "city-input"} %>
          <%= f.input :starts_at,label: false, as: :string, placeholder: "Start date", required: true, input_html: {class: "datepicker date-input", id: "start-date"} %>
          <%= f.input :ends_at,label: false, as: :string, placeholder: "End date", required: true, input_html: {class: "datepicker date-input", id: "end-date"} %>
          <%#= f.input :date_query, label: false, placeholder: "Date", input_html:{class: "date-input"} %>
          <%= f.input :people_query, label: false, placeholder: "No. People", input_html:{class: "people-input", id: "people-input"} %>
          <%= f.submit 'Explore', class: "btn home-button" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<%= icon("fas", "chevron-down") %>
