<div class="bg-image-wrapper" style="background-image:
linear-gradient(-225deg, rgba(186,210,213,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://res.cloudinary.com/druzius/image/upload/v1543828892/emanuel-hahn-200491-unsplash.jpg');">
  <div class="container">
    <div class="show-category-title">
      <div class="title-bg text-center">
        <h2>Explore Venues In <%= @trip.city.capitalize %> !</h2>
        <h4>Choose Your Preferences From Each Category</h4>
      </div>
    </div>
    <div class="show-category-card-sect">
      <div class="row">
        <% i = 0 %>
        <% @foursquare_main_categories.each_with_index do |cat, index| %>
          <div class="col-xs-12 col-lg-3">
            <div class="show-category-card">
              <div class="menu-button show-category-card-image" data-step="<%= index %>">
                <%= cl_image_tag(Venue::VENUE_CARD_IMAGES[index]) %>
                <div class="show-category-card-caption"><%= cat %></div>
              </div>
              <div class="menu hide-start" data-menu="<%= index %>">
                <%= simple_form_for :sub_category, remote: true, url: trip_venues_path(@trip), method: :post do |f| %>
                  <%= f.input :choices, as: :check_boxes, collection: @foursquare_sub_categories[i..i+3]%>
                  <%=  %>
                  <div class="submit-category-button">
                    <%= f.submit "Submit", class: "btn home-button submit-venue-category" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% i = i+4 %>
        <% end %>
      </div>
    </div>
  </div>
  <%= link_to trip_events_path do %>
    <i class='btn home-button'></i>
  <% end %>
</div>
<script>
  function testo() {
  const allCards = document.querySelectorAll('.submit-category-button');
  console.log(allCards)
  allCards.forEach((card) => {
    console.log("addEventListener");
    card.addEventListener('click', toggleNext(card));
    });
  }
  
  testo();
  
  
  function toggleNext(card) {
    debugger
    const step = card.parentElement.querySelector(".menu-button").dataset.step;
    console.log(step);
  }
</script>