<% content_for :meta_title, "#{@trip.address}" %>
<div class="bg-image-wrapper" style="background-image:
linear-gradient(-225deg, rgba(186,210,213,0.4) 0%, rgba(0,36,61,0.4) 50%), url('https://res.cloudinary.com/druzius/image/upload/v1543828892/emanuel-hahn-200491-unsplash.jpg');">
  <div class="container">
    <div class="header">
      <div class="header text-center">
        <h1>Food type</h1>
        <h4>Type in your food type and we'll give you recommendations</h4>
        <%= simple_form_for :search, url: new_trip_venue_path, wrapper: :inline_form, html: { class: "form-inline form_full_width" }, wrapper_mappings: {
        boolean: :inline_boolean
      }, method: :get do |f| %>
          <%= f.input :food_type, wrapper_html: { class: "col-5" } %>
          <%= f.input :price, as: :radio_buttons, collection: ["$", "$$", "$$$"] %>
          <%= f.submit "Submit", class: "btn home-button" %>
        <% end %>
      </div>
    </div>
    <div class="venue-category-cards">
      <div class="row">
        <% unless @venues.nil? %>
          <% @venues.each do |venue| %>
            <div class="col-xs-12 col-sm-4">
              <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
                <div class="card-category"><%= venue[:name] %></div>
                <div class="card-description">
                  <h2><%= venue[:address] %></h2>
                </div>
              </div>
              <div class="confirm-selection text-center">
                <%= link_to "Select", trip_venues_path(params: { venue: {name: venue[:name], location: venue[:address], trip_id: @trip.id }}), method: :post, class:"btn btn-primary" %>
                <a href="#" class="btn btn-danger">shuffle</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>